@use "../../../styles" as *;

.layout {
  display: flex;
  min-height: 100vh;
  background-color: $background-color-light;

  @include element("main") {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include element("content") {
    flex: 1;
    padding: $spacing-lg;
    max-width: 100%;
    overflow-x: auto;

    @media (max-width: #{$breakpoint-md - 1px}) {
      padding: $spacing-md;
    }
  }
}
