@use "../../../styles" as *;

.movement-modal {
  &__content {
    padding: $spacing-lg;
    max-height: 70vh;
    overflow-y: auto;

    @media (max-width: 768px) {
      padding: $spacing-md;
      max-height: 80vh;
    }
  }
}
